# Exemple a recopier dans le bloc environment du service passbolt
EMAIL_DEFAULT_FROM_NAME=Passbolt
EMAIL_DEFAULT_FROM=passbolt@example.com
EMAIL_TRANSPORT_DEFAULT_HOST=smtp.example.com
EMAIL_TRANSPORT_DEFAULT_PORT=587
EMAIL_TRANSPORT_DEFAULT_USERNAME=user@example.com
EMAIL_TRANSPORT_DEFAULT_PASSWORD=ChangeMe
EMAIL_TRANSPORT_DEFAULT_TLS=tls
